@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yanone+Kaffeesatz:wght@200;400;500&display=swap');

body {
  margin: 0;
  font-family: $body-font;
  color: $black;
  padding: 3rem;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: 400;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 3rem;
  width: 90%
}
 
.brand {
  display: flex;
}

.header img {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2rem;
  aspect-ratio: fixed;
}

.header h1 {
  color: $main-color;
  font-weight: 500;
  align-self: flex-end;
  padding-top: 1rem;
  font-size: 3.5rem;
}

.sortLinks {
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
}

.headerLink {
  border: none;
  color: $grey;
  font-size: 1.25rem;
  margin-right: 1rem;
  text-align: center;

}

.headerLink:hover {
  text-decoration: none;
  border-bottom: 1px solid $accent-color;
}

/* .headerLink:active,
.headerLink:focus {
  color: #0D0D0D;
  border-bottom: 1px solid #f25244
} */

.addIcon {
  font-size: 4rem;
  position: fixed;
  bottom: 10%;
  right: 11%;
  z-index: 100;
}

.fill-gradient-linear path {
  fill: url(#linear);
}

/* setting colors for linear gradient */
.linear-stop1 {
  stop-color:$secondary-color;
}

.linear-stop2 {
  stop-color: $accent-color;
}

.linear-stop3 {
  stop-color: $tertiary-color;
}

.addIcon:hover {
  font-size: 4.1rem;
}

svg {
  height: 0
}

@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    width: 90%
  }

  .header h1 {
    font-size: 2.7rem;
  }

  .header img {
    width: 6rem;
    height: 6rem;
  }

  .headerLink {
    font-size: 1.1rem;
  }

  .addIcon {
    font-size: 3.3rem;
    right: 2%;
  }

  .addIcon:hover {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 800px) {
  .addIcon {
    font-size: 2.8rem;
  }
  .addIcon:hover {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 500px) {
  .header h1 {
    font-size: 1.7rem;
  }

  .header img {
    width: 5rem;
    height: 5rem;
  }

  .headerLink {
    font-size: 1rem;
  }
}

.wrapper {
  margin: 0 auto
}

.Card {
  width: 60%;
  border: 1px solid hsla(0, 0%, 68%, 0.856);
  border-radius: 1.5rem;
  margin: 0 auto 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CardHeading {
  display: flex;
  justify-content: space-between;
}

.Card h4 {
  color: $main-color;
  font-size:2.3rem;
  margin: 1rem 0 0 4rem;
}

.edit {
  color: rgba(166, 3, 139, 0.76);
  font-size: 2rem;
  margin-right: 1rem;
}

.delete {
  color: rgba(242, 83, 68, 0.76);
  font-size: 2.5rem;
  margin-right: 2.5rem;
}

.checkbox {
  font-size: 2rem;
  color: $secondary-color;
}

.checkboxDone {
  color: $tertiary-color;
  font-size: 2rem;
}

.CardDescription {
  color: $black;
  margin: -1rem 0 0 5rem;
  font-size: 1.125rem;
}

.DueDate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right:2.5rem;
  margin-Top:-2rem;
  font-size: 1rem;
}

.CardDate {
  margin-right: 1rem
}

.DueDateTitle {
  text-transform: uppercase;
  color: $tertiary-color;
  padding-right: .5rem;
}

.notification-incomplete {
  font-size: 1.7rem;
  color: $main-color-opacity
}

.notification-complete {
  font-size: 1.7rem;
  color: $grey;
}

.notification-late {
  font-size: 1.7rem;
  color: $secondary-color-opacity;
}

.late {
  color: $accent-color;
  font-weight: bold;
}

.complete {
  color: $grey;
}

.incomplete {
  color: $main-color
}

@media screen and (max-width: 500px) {
  .CardHeading h4{
    font-size: 1.2rem;
  }

  .edit {
    font-size: 1.3rem;
  }

  .delete {
    font-size: 1.8rem;;
  }

  .notification {
    font-size: 1.3rem;
  }

  .CardDescription {
    font-size: 0.9rem;
  }

  .DueDate {
    font-size: .9rem;
  }

}

@media screen and (max-width: 1000px) {
  .Card {
    width: 80%
  }
  
  .DueDate {
    margin-top: 0rem
  }
}


