.auth__container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-top: 160px;
  img {
    position: absolute;
    max-width: 330px;
    transform: translate(-80%, -20%);
  }
  .auth__form-wrapper {
    position: absolute;
    transform: translateX(30%);
  }
  h1 {
    color: $main-color;
    text-transform: uppercase;
    font-size: 3.5em;
    margin-bottom: 10px;
  }
  input, button, p {font-family: 'raleway', sans-serif;}
  input, button {
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    font-size: 1.3em;
    padding: 14px;
    border: 1px solid #adadad;
  }
  input {
    padding-left: 50px;
    margin-bottom: 30px;
  }
  button {
    font-size: 1.3em;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    background-image: linear-gradient($secondary-color, rgb(225,94,75));
  }
  p {
    font-size: 1.2em;
    text-align: center;
    margin: 0;

    a {
      text-decoration: none;
      color: $tertiary-color;
    }
  }

  .auth__error {
    color: $tertiary-color;
    height: 32px;
    padding-bottom: 5px;
  }

  @media(max-width: 1040px) {
    margin-top: 20px;
    img {
      position: relative;
      transform: translate(0, 0);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .auth__form-wrapper {
      position: relative;
      transform: translateX(0);
    }
  }
  @media(max-width: 590px) {
    margin-top: 5px;
    width: 400px;
    img {
      max-width: 200px;
    }
    h1 {
      font-size: 3em;
      margin-bottom: 5px;
    }
  }

  @media(max-width: 470px) {
    width: 300px;
    img {
      max-width: 150px;
    }
    h1 {
      font-size: 2.5em;
      margin-bottom: 0px;
    }
    input, button {
      border-radius: 15px;
      font-size: 1em;
      padding: 10px;
    }
    input {
      padding-left: 30px;
      margin-bottom: 20px;
    }
    button {
      font-size: 1.1em;
      margin-bottom: 15px;
    }
    p {
      font-size: 1em;
    }
    .auth__error {
      height: 24px;
      padding-bottom: 5px;
    }
  }
}