@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yanone+Kaffeesatz:wght@200;400;500&display=swap');

.App {
  margin: 0;
  font-family: "raleway", sans-serif;
}

.App h1, h2, h3, h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
}


