body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Helpers
@import 'variables';
@import 'mixins';

// Component styles
@import './components/App';
@import './components//NavBar';
@import './components/Authentication';
@import './components/AddAssignment';
@import './components/Message';
